<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentManagementApp"
        tools:targetApi="31">
        <activity
            android:name=".view.activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.auth.LoginActivity" />
        <activity android:name=".view.activities.auth.RegisterActivity" />
        <activity android:name=".view.activities.teacher.classes.ClassFormActivity" />
        <activity android:name=".view.activities.ClassListActivity" />
        <activity android:name=".view.activities.teacher.classes.ClassDetailActivity" />
        <activity android:name=".view.activities.teacher.classes.ClassInviteActivity" />
        <activity android:name=".view.activities.student.JoinClassActivity" />
        <activity android:name=".view.activities.student.StudentClassListActivity" />
        <activity android:name=".view.activities.student.StudentClassDetailActivity" />
        <activity android:name=".view.activities.student.assignments.AssignmentDetailActivity" />
        <activity android:name=".view.activities.teacher.assignments.CreateAssignmentActivity" />
        <activity android:name=".view.activities.teacher.assignments.SubmissionListActivity" />

    </application>
</manifest>